@import './variables';

@mixin button($type) {
    color: aliceblue;
    border: none;
    border-radius: 40px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    @if $type == 'primary' {
        background-color: $primary-button;
    } @else {
        background-color: $secundary-button;
    }

    &:disabled{
        background-color: #999;
        cursor: not-allowed;
    }

    @media only screen and (max-width: 600px) {
        padding: 10px;
        font-size: 14px;
    }

}

@mixin card ($color){
    border-radius: 20px;
    background-color: $color;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    button {
        @include button('secundary');
    }

    h5{
        @if $color == $strong-blue {
            color: aliceblue;
            font-size: 22px;
        } @else {
            font-size: 18px;
        }
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    span {
        @if $color == $strong-blue {
            font-size: 35px;
        } @else {
            font-size: 30px;
        }
        color: $primary-button;
        margin: 20px 0;
    }

    @media only screen and (max-width: 600px) {
        padding: 20px;
        h5{
            @if $color == $strong-blue {
                font-size: 16px;
            } @else {
                font-size: 14px;
            }
        }
        span {
            @if $color == $strong-blue {
                font-size: 28px;
            } @else {
                font-size: 25px;
            }
            color: $primary-button;
            margin: 15px 0;
        }

    }
}