<header class="menu">
    <div class="menu__logo">
        <img src="../../../assets/logo.png" alt="Logo Telzir">
        <span>Telzir</span>
    </div>
    <div class="menu__options">
        <ul>
            <li>
                <a [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a [routerLink]="['/ofertas']">Ofertas</a>
            </li>
        </ul>
        <button (click)="openOffersPage()">Compre agora</button>
    </div>
</header>