@import '../../../assets/scss/index.scss';

.menu {
    position: fixed;
    display: flex;
    padding: 20px 40px;
    color: aliceblue;
    justify-content: space-between;
    background-image: linear-gradient(to right,$strong-blue , $medium-blue);
    align-items: center;
    font-size: 16px;
    width: 100%;
    max-width: 1270px;

    &__logo {
        font-size: 20px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        
        img{
            margin-right: 14px;
        }
    }
    
    &__options {
        display: flex;
        align-items: center;
        
        ul {
            display: flex;
            align-items: center;

            li {
                margin-right: 40px;
                
                a{
                    color: aliceblue;
                    font-weight: bold;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        button {
            @include button($type:'secundary');
        }
    }
}

@media only screen and (max-width: 600px){
    .menu {
        flex-direction: column;
        padding: 10px;
        font-size: 14px;

        &__options{
            ul li{margin-right: 20px;}
        }
    }
}