<section class="landing-page" id="home">
    <div class="landing-page__container">
      <h1 class="landing-page__title">
        <strong>
          Economize <br>
        </strong>
         agora com suas ligações
      </h1>
      <h5 class="landing-page__subtitle">
        Descubra nossas ofertas para ligações
      </h5>
      <div class="landing-page__buttons">
        <button class="landing-page__buttons--primary" (click)="openPlanesPage()">Ver ofertas</button>
        <!-- <button class="landing-page__buttons--secundary">Contato</button> -->
      </div>
    </div>
    <div class="landing-page__image">
      <img src="../assets/landing.png" alt="">
    </div>
  </section> 