@import '../../assets/scss/index.scss';

.landing-page{
    height: 100vh;
    background-image: linear-gradient(to right,$strong-blue , $medium-blue);
    background-size: cover;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    

    &__container {
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    &__title{
        color: aliceblue;
        font-size: 60px;
        margin-bottom: 30px;
        
        strong {
            color: $primary-button;
            text-decoration: underline;
        }
    }
    
    &__subtitle{
        font-size: 18px;
        color: aliceblue;
        margin-bottom: 30px;
    }

    &__buttons{
        grid-area: buttons;

        &--primary{
            @include button($type: 'primary');
            margin-right: 20px;
        }
        
        &--secundary {
            @include button($type: 'secundary');
        }
    }

    &__image{
        img{
            width: 400px;
        }
    }
}

@media only screen and (max-width: 600px){
    .landing-page{
        padding: 30px 80px;

        &__title {
            font-size: 30px;
        }
    }
}