<section class="offers">
    <div class="offers__title">
        <h2>Escolha uma localização</h2>
        <h4>Escolha um DDD de origem e de destino</h4>
    </div>
    <form [formGroup]="offersForm">
        <div class="offers__select-bundle">
            <label for="origin">DDD de Origem 
                <select formControlName ="origin" name="origin" id="origin">
                    <option value="11">011</option>
                    <option value="16">016</option>
                    <option value="17">017</option>
                    <option value="18">018</option>
                </select>
            </label>
            
            <label for="destiny">DDD de Destino
                <select formControlName ="destiny" name="destiny" id="destiny">
                    <option value="11">011</option>
                    <option value="16">016</option>
                    <option value="17">017</option>
                    <option value="18">018</option>
                </select>
            </label>
            
        </div>
        <label for="plan">Plano</label>
        <select formControlName="plan" name="plan" id="plan">
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="120">120</option>
        </select>
        <label for="time">Tempo</label>
        <input formControlName ="time" type="text" name="time" id="time">

        <button [disabled]="!offersForm.valid" (click)="calculateCosts(offersForm.value)">Calcular</button>
    </form>

    <div class="offers__table" *ngIf="plan">
        <div class="offers__table__head">
            <div class="offers__table__head__block">
                <span class="offers__table__head__block__label">Origem</span>
                <div class="offers__table__head__block__circle">
                    <span>{{currentOffer.origin}}</span>
                </div>
            </div>

            <div class="offers__table__head__line"></div>

            <div class="offers__table__head__block">
                <span class="offers__table__head__block__label">Destino</span>
                <div class="offers__table__head__block__circle">
                    <span>{{currentOffer.destiny}}</span>
                </div>
            </div>
        </div>
        <div class="offers__table__highlight">
            <h5>Com Fale +</h5>           

            <span>{{plan.calculatedPrice | currency: 'BRL':'symbol'}}</span>

            <button>Compre esse plano</button>
        </div>
        <div class="offers__table__others">
            <h5>Sem Fale +</h5>

            <span>{{plan.otherPrice | currency: 'BRL':'symbol'}}</span>
        </div>
    </div>
</section>