@import '../../assets/scss/index.scss';

.offers{
    height: 100vh;   

    &__title {
        background-image: linear-gradient(to right,$strong-blue , $medium-blue);
        padding: 100px 100px 50px 100px;
        background-size: cover;
        color: aliceblue;
        h2 {
            font-size: 32px;
        }
    
        h4 {
            font-size: 24px;
        }
    }
    
    &__select-bundle{
        display: flex;
    }

    form {
        background-image: linear-gradient(to right,$strong-blue , $medium-blue);
        display: flex;
        flex-direction: column;
        padding: 30px 100px;

        label {
            display: block;
            margin: 20px 10px 10px 0;
            font-size: 18px;
            color: #eee;

            select {
                width: 100%;
                padding: 10px;
            }
        }

        select {
            padding: 10px;
            width: 120px;
        }

        input{
            padding: 10px;
            margin-bottom: 15px;
        }


        button {
            @include button('primary');
        }
    }

    &__table{
        margin: 30px 300px;
        display: grid;
        gap: 5px;
        grid-template-areas: "head head"
                             "highlight other";
        
        &__head {
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-around;
            grid-area: head;

            &__block{
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__label{
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                &__circle{
                    background-color: $medium-blue;
                    border-radius: 40px;
                    padding: 10px;
                    font-size: 20px;
                    color: aliceblue;
                    text-align: center;
                }
            }

            &__line{
                width: 65%;
                height: 2px;
                background-color: #222;
                margin: 0 10px;
                transform: translateY(10px);
            }
        }

        &__highlight{
            grid-area: highlight;
            @include card($strong-blue);    
        }

        &__others{
            grid-area: other;
            @include card(#eee);
        }
    }
}

@media only screen and (max-width: 600px) {
    .offers{
        &__title {
            font-size: 30px;
            padding: 100px 50px 50px 50px;
            h2 {
                font-size: 24px;
            }
        
            h4 {
                font-size: 20px;
            }
        }

        form {
            padding: 30px 50px;
        }

        &__table{
            margin: 30px 20px;
            grid-template-areas: "head head" 
                                 "highlight highlight"
                                 "other other";
        }
    }
}
